<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      .action{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="text-center">Students</h1>
    <div class="container">
      <button type="reset" class="btn btn-primary float-right" onclick="location.href='/create'"><img src="https://img.icons8.com/cotton/30/000000/add--v2.png"/>  Add Student</button>
      <br>
      <br>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Test Score</th>
          <th colspan="2" class="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.testScore}}</td>
          <td class="action"><a href="/delete/{{student.id}}" class="btn btn-link-success font-weight-bold"><img src="https://img.icons8.com/nolan/30/delete-forever.png"/></a></td>
          <td class="action"><a href="/update/{{student.id}}" class="btn btn-link-success font-weight-bold"><img src="https://img.icons8.com/nolan/30/edit.png"/></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    <!--Script Start-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
