<!DOCTYPE html>
<html lang="en" dir="ltr" wtx-context="827AEF4A-2156-478E-9B75-02F75873BDFA">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <br>
  <body class="text-center container" data-gr-c-s-loaded="true">
      <form class="form-signin" wtx-context="1F418F34-B84A-4F4E-833C-E858822E4B98" >
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputEmail" class="sr-only">First Name</label>
        <input type="Name" id="text" class="form-control" placeholder="First Name" required="" autofocus="" wtx-context="3ACDC6C2-DC13-41AF-8D39-D91888E4629A">
        <label for="inputPassword" class="sr-only">Lastname</label>
        <input type="Lastname" id="text" class="form-control" placeholder="Last Name" required="" wtx-context="0530F9BC-6668-4631-986F-92514E7A9DDD">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" wtx-context="3ACDC6C2-DC13-41AF-8D39-D91888E4629A">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" wtx-context="0530F9BC-6668-4631-986F-92514E7A9DDD">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
      </form>


  </body>
</html>
